@import "tailwindcss";

:root {
  background-color: #050505;
  color-scheme: dark;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* Efecto de nebulosa Retrowave */
  background: radial-gradient(circle at top right, #701a75, #050505) fixed;
}

body {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}
/* Para un efecto Retrowave/Vaporwave */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-animate {
  background-size: 400% 400%; /* Ajusta el tamaño del gradiente para que la animación sea visible */
  animation: gradient-animation 15s ease infinite; /* 15s de duración, suave, infinito */
}